@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.top_header {
  background-color: black;
}

.frontpage_button {
  width: 10rem;
  height: 2.8em;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  background-color: white;
  border: none;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em 10%;
  height: 4em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top_nav > li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

.top_nav > li:hover {
  color: black;
}

@media (max-width: 800px) {
  .frontpage_button {
    width: 9em;
    font-size: 0.8em;
  }

  ul {
    column-gap: -1em;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  text-align: center;
}

.image_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image_box {
  padding: 0.5vw;
  max-width: 24vw;
}

img {
  max-width: 100%;
}

.slider_img:hover {
  opacity: 0.5;
  transition: 0.7s;
}

.image_title {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.post_highlight {
  max-width: 100%;
  padding: 5em;
}

.title_two {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  margin-top: 0.2;
}

article {
  border-left: 1px rgb(151, 150, 150) solid;
  padding-left: 0.5em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
    row-gap: 2em;
  }
}

.expand_comment {
  color: black;
}

.read_more {
  color: black;
}

.deepdive_article_box {
  display: flex;
  border: 1px solid gray;
}

.large_img_box {
  max-width: 70vw;
}

@media (max-width: 800px) {
  .deepdive_article_box {
    flex-direction: column;
  }

  .large_img_box {
    max-width: 100%;
  }
}

.article_content {
  overflow: hidden;
  padding-left: 0.5em;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  margin-bottom: 0;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

footer {
  background-color: rgb(12, 12, 12);
  bottom: -50px;
}

.footer_contact_title {
  font-size: 2em;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
}

.contact_us_form {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.footer_form {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
}

#send_form {
  width: 10em;
  margin-top: 0.4em;
  align-self: center;
  border: none;
  border-radius: 40px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
}

.permalink_title {
  color: white;
  font-size: 2em;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
}

.permalink_list {
  list-style: none;
}

.bottom_content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*subpage styling*/

.full_post {
  padding: 2em;
  border-bottom: 2px solid lightgray;
  background-color: white;
}

.full_post > h2 {
  font-size: 0.9em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.full_post > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  margin-bottom: 0;
}

.body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  max-width: 60em;
}

/*submit post page*/

.hidden {
  display: none;
}

.submit_title {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  text-align: center;
}

.submit_post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 90em;
}

#post_title {
  width: 20em;
}

#post_username {
  width: 20em;
}

#post_content {
  height: 20em;
  width: 40em;
}

#submit_button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  width: 10em;
  height: 3em;
  margin-bottom: 4em;
  border-radius: 50px;
  background-color: white;
  border: 1px solid black;
}

@media (max-width: 800px) {
  .submit_post {
    justify-content: left;
    align-items: flex-start;
    width: 30em;
    margin-left: 1em;
  }

  #post_content {
    width: 24em;
  }
}

/* subpage.html */

.comments {
  font-size: 2em;
  padding: 1em;
  margin: 0;
  opacity: 0.7;
}

.comment_section {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  max-width: 50em;
}

@media (max-width: 800px) {
  .comments {
    padding: 0.5em;
  }

  .comment_section {
    padding-left: 0em;
    max-width: 30em;
  }
}

.panel {
  list-style: none;
  border-bottom: 1px solid lightgray;
  padding-left: 1em;
  line-height: 1.2;
  background-color: white;
}

.e-mail {
  font-weight: 700;
}

.user_name {
  font-style: italic;
  margin-top: 0;
}

/* create comment form */

.comment_submission {
  margin-bottom: 4em;
}

.create_comment {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  padding-left: 1em;
  opacity: 0.7;
}

#commentForm {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  background-color: white;
  margin-left: 4em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  max-width: 48em;
}

#comment_content {
  height: 17em;
}

#make_comment {
  border-radius: 40px;
  border: 1px solid black;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  width: 20em;
  align-self: center;
  height: 2.4em;
  width: 12em;
}

@media (max-width: 800px) {
  #commentForm {
    margin-left: 2em;
    max-width: 23em;
  }
}
